.hnextSelectedRow {
     background-color: #e5e5df;
 }


 .darkBG {
     background-color: #17181c;
 }

 .midBG {
     background-color: #232316;
 }

 .lightOrange {
     color: #caa575 !important;
 }

 .lightText {
     color: rgb(130, 130, 130) !important;
 }

 .darkOrange {
    background-color: rgb(169, 67, 0);
 }